* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.date {
    color: grey;
}

#container {
    width: 70%;
    float: left;
    padding: 20px;
}

#sidebar {
    width: 30%;
    height: 100%;
    background-color: lightgrey;
    float: left;
    padding: 20px;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

.pagination {
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
